body {
    position:absolute;
    height:100%;
    width:100%;
    margin:0;
    
    background-color:rgb(32,34,37);
}

.container {
    display:flex;
    justify-content:space-around;
    height:100%;
    width:100%;
}

.center {
    box-sizing:border-box;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    align-items:center;
    height:100%;
    width:80%;
    padding:2rem;
    z-index:999;
}

.center > div {
    height:100%;
    width:100%;
}

.top {
    display:grid;
    grid-template-columns: 1fr 100px 40px;
    grid-template-rows: auto;
}
.logo {
    width:max-content;
    justify-self:start;

    font-family:monospace;
    letter-spacing:2px;
    color:#e2b714;
    font-size:40px;
    font-weight:bold;
}
.time {
    height:max-content;
    box-sizing:border-box;
    margin:15px 0;
    
    font-family:monospace;
    letter-spacing:2px;
    color:#e2b714;
    font-size:10px;
    font-weight:bold;
}
.pulse {
    width:40px;
    height:40px;

    background-image:radial-gradient(circle at center, transparent, transparent 50%, #e2b714 55%, #e2b714 60%,transparent 60%);
    transform:scale(0);
    animation: pulse 1s infinite;
}
@keyframes pulse {
    to {
        transform:scale(1);
        opacity:0
    }
}